/*
Jeroen van Oorschot 2015
CSS file for Thor Postermonitor, posterviewer
*/
html,body{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	position: relative;	
}
body{
	font-family: 'segoe ui semibold','Trebuchet MS',Verdana, Geneva, sans-serif;
	font-size:11px; /*relative font size of all texts*/
	background-color:#ac2121;
}
/*
div{
		border: 1px solid blue;
}*/
/****************************************/
/*size independent parts of above styles*/
/****************************************/
div#container{ 
	position: absolute;
	top: 10px;
	left: 10px;
}
div.poster{
	position: absolute;
	right:0px;
	top: 0px;
	/*overflow:hidden;*/
	/*border-radius:10px;*/
	background: #a7a7a7;
}
div#thumbbar{/*footer*/
	position:absolute;
	bottom:0px;
	right: 0px;
	/*padding-left: 1.5em;*/
	background-color: white;/*white;/*#f7f7f7;	*/
}
div#sidebar{
	position: absolute;
	left: 0px;
	top: 0px;
	/*background-color:blue;*/
}
div#general{
	position:absolute;
	right: 0px;
	bottom: 0px;
	/*padding: 0.5em;*/
	background: #a7a7a7;
	color: #333;
}
/*the activities*/
div#activities{
	position:absolute;
	left:0px;
	top:0px;
	background-color:#a7a7a7;
	overflow:hidden;
	/*padding: 0.5em;*/
}

/*************************/
/*window dependent styles*/
/*************************/
@media all and (min-width:959px){
div#container{ 
	width: 940px;
	height: 520px;
}
div.poster{
	width: 720px;
	height: 405px;
}
div#thumbbar{/*footer*/
	width: 720px;
	height: 105px;	
}
/*everything on the left side*/
div#sidebar{
	width: 210px;
	height: 520px;
}
/*clock and date*/
div#general{
	width: 210px;
	height: 105px;	
}
canvas#clock{
	height: 95px;
	width: 95px;
}
/*activity list*/
div#activities{
	width: 210px;
	height: 405px;
}
}
@media all and (min-width:1365px){
div#container{ 
	width: 1346px;
	height: 748px;
}
div.poster{
	width: 1024px;
	height: 576px;
}
div#thumbbar{/*footer*/
	width: 1024px;
	height: 162px;	
}
/*everything on the left side*/
div#sidebar{
	width: 312px;
	height: 748px;
}
/*clock and date*/
div#general{
	width: 312px;
	height: 162px;	
}

canvas#clock{
	height: 152px;
	width: 152px;
}
/*activity list*/
div#activities{
	width: 312px;
	height: 576px;
}
}
@media all and (min-width:1919px){
div#container{ 
	width: 1900px;
	height: 1060px;
}
div.poster{
	width: 1440px;
	height: 810px;
}
div#thumbbar{/*footer*/
	width: 1440px;
	height: 240px;	
}
/*everything on the left side*/
div#sidebar{
	width: 450px;
	height: 1060px;
}
/*clock and date*/
div#general{
	width: 450px;
	height: 240px;	
}

canvas#clock{
	height: 230px;
	width: 230px;
}
/*activity list*/
div#activities{
	width: 450px;
	height: 810px;
}
}
/*****************/
/*All other items*/
/*****************/

div.sponsorblock{
	position:relative;
	
/*	display: block;
	float:left;*/
	height:123px;
	width:350px;
	
}
div.posterview{
	background-size:contain;
	background-repeat:no-repeat;
}
/*
img#posterimage{
	position:absolute;
/*	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);*/
/*	overflow:hidden;
}*/

/***************
Thumbs, sponsors or posterthumbs
***************/

img.sponsor{ /* a sponsor image*/
	position:absolute;
	
	/*top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;*/
	
	max-height: 95%;
	max-width: 95%;

   /* transform: translate(-50%, -50%);*/
}
/*space on the left side of sponsor images*/
div.lSSlideWrapper {
	left: 1em;	
}
/*pager for posterthumbs should be red instead of blue*/
.active > a{
    background-color: #ac2121!important;
}



/*sidebar contains clock and activities*/
#time, #daydate{
	padding-top:2em;
	position:absolute;
	width: 45%;
	height: 99%;
	font-weight:bold;
}
#time{
	left:0px;
}
#daydate{
	right:0px;
}
#day, #date{
	font-size:1.5em;
	width: 100%;
}
/*clock*/
canvas#clock{
	position: absolute;
	top:5px;
	left:5px;
}

/*********************/
/*Activity  specific */
/*********************/

/*some spacing between activities*/
div.activity{
	margin-bottom: 0.5em;
}
/* activity title*/
h2{
	word-wrap:break-word;
	color: #ac2121;	
	font-size: 2em;
	font-weight: bold;
	display:inline;
	/*text-shadow: -0.02em 0.02em 0.4em #FFF;*/
}
/* activity date*/
h3{
	font-size: 1.5em;
	margin: 0px;
	margin-left: 1em;
	color: #333;
}
/*ieee activity*/
div.activity.ieee > h2{
	color: rgb(0,83,159);
}
/*waldur activity*/
div.activity.waldur > h2{
	/*color: rgb(190,151,4);*/
	color: rgb(255,203,5);/* the official waldur color*/
}
