/*
Jeroen van Oorschot 2015
CSS file for Thor Postermonitor, posterviewer
*/

/****************************************/
/*size independent parts of above styles*/
/****************************************/
div#container{ 
	position: absolute;
	top: 0px;
	left: 0px;
}
div.poster{
	position: absolute;
	right:0px;
	top: 0px;
	/*overflow:hidden;*/
	/*border-radius:10px;*/
	background: #a7a7a7;
}

/*************************/
/*window dependent styles*/
/*************************/
@media all and (min-width:959px){
div#container{ 
	width: 940px;
	height: 520px;
}
div.poster{
	width: 940px;
	height: 520px;
}
}
@media all and (min-width:1359px){
div#container{ 
	width: 1360px;
	height: 765px;
}
div.poster{
	width: 1360px;
	height: 765px;
}
}
@media all and (min-width:1919px){
div#container{ 
	width: 1920px;
	height: 1080px;
}
div.poster{
	width: 1920px;
	height: 1080px;
}
}
/*****************/
/*All other items*/
/*****************/

div.posterview{
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
/*
img#posterimage{
	position:absolute;
/*	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);*/
/*	overflow:hidden;
}*/
